html {
  height: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  text-align: center;
  font-weight: 500 !important;
  font-size: 4rem !important;
}

label {
  font-size: 1rem !important;
}

small {
  color: #a0a0a0;
  font-size: 0.83rem;
  line-height: 2rem;
}

ol {
  margin-left: 0;
  padding-left: 0.7rem;
}

ol > li {
  text-align: justify;
}

footer {
  font-size: 0.9rem;
  display: block;
  position: sticky;
  text-align: center;
  background-color: #f8f9fa;
  bottom: 0;
  padding: 0.65rem 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .container {
    padding-top: 3.75rem !important;
  }
}
