::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer {
  position: fixed;
  text-align: center;
  background-color: #f8f9fa;
  bottom: 0;
  height: 45px;
  line-height: 45px;
  width: 100%;
}
