body,
html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  display: block;
  text-align: center;
}

#timer {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  font-weight: 700;
  text-align: center;
  color: green;
  font-size: 180%;
}

form {
  height: 95%;
  width: 70%;
  margin: 1% auto;
}

.options {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[type='radio'] {
  margin: 0% 0%;
  margin-right: 1%;
  margin-left: 2%;

  vertical-align: middle;
}

.questions {
  padding-top: 3%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

button {
  display: block;
  width: 50%;

  margin: 2% auto 1% auto;
  padding: 1%;

  font-size: 150%;
}
